<%= form_for(@mymark) do |f| %>
  <% if @mymark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mymark.errors.count, "error") %> prohibited this mymark from being saved:</h2>

      <ul>
      <% @mymark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

<div class="field">
<%= f.label "Bookmark address (do not include http://): " %>
<%= f.text_field :mark_id %>
</div>  

<div class="field">
<%= f.label :location_id %>
<%= f.select :location_id,  @locations.map {|location| [location.name, location.id]}%> - <%= link_to "Add a new Location", :controller => "locations", :action => "new" %>
</div>

<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
