<h1>Listing mymarks</h1>
Locations: <%= link_to "Add a new Location", :controller => "locations", :action => "new" %>
Currently Showing: <% if @current_location %> <%= @current_location.name %> <% else %> All <% end %>
<ul>
<li><%= link_to "All", :controller => "mymarks", :action => "index", :show_location => "all"%></li>
<% @locations.each do |location| %>
	<li><%= link_to location.name, :controller => "mymarks", :action => "index", :show_location => location.id %></li>
<% end %>
</ul>

<P>
<table>
  <tr>
    <th>Bookmarks</th>
    <th></th>
    <th></th>
  </tr>
<tr>
<% @mymarks.each do |mymark| %>
    <td><a rel="nofollow" href="http://<% if mymark.mark_id != 0 %><%= mymark.mark.url %>"><%= mymark.mark.name %><% end %></a></td>
    <td><%= link_to 'Show', mymark %></td>
    <td><%= link_to 'Edit', edit_mymark_path(mymark) %></td>
    <td><%= link_to 'Destroy', mymark, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</p>
<br />
<%= link_to 'Add a New Bookmark', new_mymark_path %>
